
#homeButton{
    background-color: #10C9C3;
    color: white;
}
#centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#progress{
    color: #10C9C3;
    background-color: #10C9C3;
}
#info{
    background-color: #10C9C3;
}
#container {
    position: relative;
  }
  
  .pics {
    display: block;
    width: 100%;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #141414;
  }
  
  #container:hover .overlay {
    opacity: .7;
  }
  
  .icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  #jumbo{
    background-color: #10C9C3;
    text-align: center;
    color: white;
  }