#nav{
  background-color: #dfdfdf;
  color: black;
  font-family: 'Nunito Sans', sans-serif;
}
#homeButton{
    background-color: #10C9C3;
    color: white;
}
#activenav{
  color: #10C9C3;
}
#centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#progress{
    color: #10C9C3;
    background-color: #10C9C3;
}
#info{
    background-color: #10C9C3;
}
#container {
    position: relative;
  }
  
  .pics {
    display: block;
    width: 100%;
    height: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    object-fit: contain;
    
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #141414;
  }
  
  #container:hover .overlay {
    opacity: .7;
  }
  
  .icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  #Testimonials{
    background-color: #10C9C3;
    text-align: center;
    color: white;
  }

  #forms{
    background-color: #F5F5F5;
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    
  }

  #formbtn{
    background-color: #10C9C3;
    color: white;
    align-self: center;
    text-align: center;
  }
  h1{
    font-family: 'Nunito Sans', sans-serif;
  }
  h2{
    font-family: 'Nunito Sans', sans-serif;
  }
  h3{
    font-family: 'Nunito Sans', sans-serif;
  }
  p{
    font-family: 'Montserrat', sans-serif;
  }
  #footer{
    background-color: #141414;
    color: #F5F5F5;;
    padding-top: 2%;
    padding-bottom: 4%;
  }